services:
  compressor:
    build:
      context: services/compressor
      target: final
    ports:
      - 8080:8080
    volumes:
      - ./data/images:/data/images
  redis:
    ports:
      - 6379:6379
    image: redis:alpine
    volumes:
      - ./data/redis:/data
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_ERLANG_COOKIE: JcocfEhPrsk7QuIT4f5r5UFnSkEv+3Nn6SKERpI/O+c=
    volumes:
      - ./data/rabbitmq/data:/var/lib/rabbitmq
      - ./data/rabbitmq/log:/var/log/rabbitmq
