services:
  api:
    build:
      context: .
      dockerfile: services/api/Dockerfile
      target: final
    environment:
      REDIS_URL: "redis://redis:6379"
      RABBITMQ_URL: "amqp://user:password@rabbitmq:5672/"
      BASE_IMAGE_DIR: "/data/images/"
      NODE_ID: "api-1"
    ports:
      - 8080:8080
    volumes:
      - ./data/images:/data/images
    depends_on:
      rabbitmq:
        condition: service_healthy
  downloader:
    build:
      context: .
      dockerfile: services/downloader/Dockerfile
      target: final
    environment:
      REDIS_URL: "redis://redis:6379"
      RABBITMQ_URL: "amqp://user:password@rabbitmq:5672/"
      BASE_IMAGE_DIR: "/data/images/"
      NODE_ID: "downloader-1"
    ports:
      - 8081:8080
    volumes:
      - ./data/images:/data/images
    depends_on:
      rabbitmq:
        condition: service_healthy
  compressor:
    build:
      context: .
      dockerfile: services/compressor/Dockerfile
      target: final
    environment:
      REDIS_URL: "redis://redis:6379"
      RABBITMQ_URL: "amqp://user:password@rabbitmq:5672/"
      BASE_IMAGE_DIR: "/data/images/"
      NODE_ID: "compressor-1"
    # ports:
    #   - 8082:8080
    volumes:
      - ./data/images:/data/images
    depends_on:
      rabbitmq:
        condition: service_healthy
    deploy:
      mode: replicated
      replicas: 5
      resources:
        limits:
          cpus: "0.50"
          memory: 400M
  redis:
    ports:
      - 6379:6379
    image: redis:alpine
    volumes:
      - ./data/redis:/data
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_ERLANG_COOKIE: JcocfEhPrsk7QuIT4f5r5UFnSkEv+3Nn6SKERpI/O+c=
    volumes:
      - ./data/rabbitmq/data:/var/lib/rabbitmq
      - ./data/rabbitmq/log:/var/log/rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 10s
      retries: 5
