services:
  compressor:
    build:
      context: services/compressor
      target: final
    environment:
      REDIS_URL: "redis://redis:6379"
      RABBITMQ_URL: "amqp://user:password@rabbitmq:5672/"
      BASE_IMAGE_DIR: "/data/images"
    ports:
      - 8080:8080
    volumes:
      - ./data/images:/data/images
    depends_on:
      rabbitmq:
        condition: service_healthy
  redis:
    ports:
      - 6379:6379
    image: redis:alpine
    volumes:
      - ./data/redis:/data
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_ERLANG_COOKIE: JcocfEhPrsk7QuIT4f5r5UFnSkEv+3Nn6SKERpI/O+c=
    volumes:
      - ./data/rabbitmq/data:/var/lib/rabbitmq
      - ./data/rabbitmq/log:/var/log/rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 10s
      retries: 5
