name: Docker Image CI

on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3.1.0
        with:
          username: mukarramali98
          password: ${{secrets.DOCKER_PASSWORD}}
          ecr: false
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: services/api/Dockerfile
          push: true
          tags: mukarramali98/imagestack:latest
          target: final
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: services/compressor/Dockerfile
          push: true
          tags: mukarramali98/imagestack-compressor:latest
          target: final
